# Exploring weather Trends

In [1]:
#Extract the data from the database
#Write a SQL query to extract the city level data. Export to CSV.
#Write a SQL query to extract the global data. Export to CSV

In [2]:
#Write a SQL query to extract the city level data. Export to CSV.

SELECT * FROM city_data
WHERE Country='France'

SyntaxError: invalid syntax (<ipython-input-2-acee486ff1a7>, line 3)

In [3]:
#Write a SQL query to extract the global data. Export to CSV
SELECT * FROM global_data

SyntaxError: invalid syntax (<ipython-input-3-9757ca55bce9>, line 2)

In [4]:
import pandas as pd
#df1 = pd.read_csv("C:/PythonHow/file1.csv", header=None)

In [5]:
#import and view temperature data for city using pandas
df1 = pd.read_csv("C:/Users/Frances-Anthony/Documents/Udacity/Nanodeg-da/project-1/paris-data.csv")
print(df1.head(10))

   year  avg_temp
0  1750     11.18
1  1751     11.15
2  1752      6.97
3  1753     10.40
4  1754     10.15
5  1755      9.84
6  1756     10.20
7  1757     10.02
8  1758      9.62
9  1759     10.66

In [6]:
#import and view from csv global temperature data using pandas
df2 = pd.read_csv("C:/Users/Frances-Anthony/Documents/Udacity/Nanodeg-da/project-1/global-temp-data.csv")
result = df2.head(10)
print(result)

   year  avg_temp
0  1750      5.78
1  1751      6.74
2  1752      6.78
3  1753      6.86
4  1754      6.92
5  1755      6.94
6  1756      6.98
7  1757      7.05
8  1758      7.08
9  1759      7.19

In [10]:
#calculate simple moving average using pandas series rolling method
#SMA for paris data
df1['avg_temp'].rolling(10).mean()

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
259    11.606
260    11.473
261    11.569
262    11.504
263    11.414
Name: avg_temp, Length: 264, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
temperatures = {
    'years' :[1500, 1550, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050],
    'local' :[8, 7, 9, 8, 7, 7, 7, 8, 9, 8, 8, 8],
    'global':[7, 7, 9, 9, 7, 8, 7, 9, 9, 8, 9, 8]
}
df = pd.DataFrame(temperatures)
df.head() # optional
window_to_average = 3
# iloc in column 1
df['MA_LOCAL'] = df.iloc[:,1].rolling(window=window_to_average).mean()
# iloc in column 2
df['MA_GLOBAL'] = df.iloc[:,2].rolling(window=window_to_average).mean()
df.head() # optional